.profile__name {
  width: 201px;
  margin-top: 0;
  font-weight: 500;
  font-size: 27px;
  line-height: 56px;
  /* or 207% */
  margin-bottom: 0;
  text-align: center;
  color: #ffffff;
  /* width: 93%; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .profile__name {
    width: 295px;
    font-size: 42px;
    text-align: left;
  }
}
