.login__password {
  width: 358px;
  height: 27px;
  background-color: #000000;
  border:#CCCCCC; ;
  border-bottom-style:solid;
  margin-top: 30px;
  color:#CCCCCC; 
  
}

input::-webkit-input-placeholder { color:#CCCCCC; }
input::-moz-placeholder { color:#CCCCCC; }