@import url(../__name/profile__name.css);
@import url(../__description/profile__description.css);

.profile__info{
   /* display: flex;
    flex-direction: row;*/
 /*   align-items: center;*/
    margin-top: 4%;
    max-width: 336px;
}

@media screen and (min-width:900px){
    .profile__info{
        margin-top: 2%;
        margin-left: 3%;
    }
}

.profile__info-table{
    display: flex;
    flex-direction: row;
    align-items: center;
}