.profile__description {
  width: 280px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .profile__description {
    width: 318px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}
