.popup__name{
    width: 250px;
    height: 27px;
    padding:0;
   
    border:1px;
    border-color:  #545454;
    border-bottom-style: solid;
    margin-bottom: 29px;
}


@media screen and (min-width:768px)
{
.popup__name {
    width: 358px;
}
}